@font-face {
  font-family: Caprasimo;
  src: url(../../assets/font/Caprasimo-Regular.ttf);
}

/* translation:
I means icon
 */

/* Common */
.dFlexJCSB {
  /* display flex justify-content:space-between */
  display: flex;
  width: 100%;
  height: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mt20 {
  margin-top: 20px;
}

.filterW {
  /* filter white */
  filter: invert(93%) sepia(95%) saturate(21%) hue-rotate(15deg) brightness(106%) contrast(100%);
}

/* Common */

/* Header*/

/* screenWidth < 860 */
/* navCollapse */
.navBackground {
  /* NavContainer */
  width: 200px;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: rgba(255, 136, 0, 0.386);
  top: 0px;
  right: 0px;
  padding: 10px 5px;

}

.navBackground li {
  list-style-type: none;
}

.exitI {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.languageI {
  width: 26px;
  height: 26px;
  cursor: pointer;

}

.menuContent {
  color: white;
  font-family: Caprasimo;
  text-decoration: none;
  font-size: large;
  transition: 0.5s ease;
  margin-left: 30px;
}

.menuContent:hover {
  font-size: larger;
  text-decoration: underline;
}

.menuIcon {
  width: 20px;
  height: 20px;
  margin-left: 7px;
}

/* navCollapse */

/* screenWidth < 860 */
/* navNotCollapse */
.toggle {
  width: 50px;
  height: 30px;
  position: absolute;
  top: 50px;
  right: 30px;
  z-index: 1;
  cursor: pointer;
}

.navNBK {
  /* navNoBackground */
  width: calc(100% - 100px);
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 -30 0 30px;
}

.navWBK {
  /* navNoBackground */
  background-color: rgba(227, 143, 7, 0.79);
  width: 100%;
  padding: 0 50px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.navUL {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.language {
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 3;
  cursor: pointer;
  right: 20px;
  top: 28px;
}

/* navNotCollapse */
/* Header */
/* Pagination */
.pagination {
  width: 140px;
  gap: 5px;
  height: 30px;
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(106, 104, 102, 0.412);
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 166, 0, 0.844);
  color: white;
  font-family: Caprasimo;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  /* Modified */
  transform: translateX(-50%);
  /* Added */
  box-shadow: 3px 0px 20px rgb(255, 166, 0);

}

.eachPag {
  cursor: pointer;
}

/* Pagination */
/* footer */
.footer {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: rgba(227, 143, 7, 0.79);
  font-family: Caprasimo;
  font-size: large;
  padding: 0 50px;
  color: white;

}

.footer img,
.footer p {
  margin-right: 10px;
}

.copyright {
  width: 15px;
  height: 15px;
  filter: invert(99%) sepia(1%) saturate(5211%) hue-rotate(159deg) brightness(131%) contrast(100%);

}

b {
  cursor: pointer;
  transition: 0.5s;
}

b:hover {
  font-size: larger;
}

/* footer */