@font-face {
  font-family: Caprasimo;
  src: url(../assets/font/Caprasimo-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../assets/font/Roboto-Regular.ttf);
}

.orangeCover {
  background-color: #ffa600;
}

.dataImage {
  object-fit: cover;
  border: 8px solid #ffa600;
  border-radius: 15px;
  cursor: pointer;
}

.dataName {
  text-align: center;
  font-family: Caprasimo;
  font-size: 25px;
}

/* height of the header is 80px */
.container {
  /* Adjust the value according to your needs */
  height: 600px;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  overflow: auto;
}

.context {
  width: 100%;
  height: calc(100% - 200px);
}

/* I write this two variantes So i would have only one of them to write for historyInfo component where I use this two often */
.HICommonVA {
  width: 380px;
  height: 290px;
  object-position: center;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid rgb(65, 62, 53);
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.HICommonVB {
  width: 380px;
  height: 290px;
  object-position: center;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid rgb(65, 62, 53);
  float: right;
  margin: 5px 0 5px 5px;
}