.orangeCover {
  background-color: #ffa600;
}

.background {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../assets/img/QBG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  filter: blur(5px);
}


.container {
  /* Adjust the value according to your needs */
  background-color: #ffffff62;
  border: 4px solid white;
  margin: 0 auto;
  padding: 10px;
  border-radius: 50px;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: row;
}

.imgBig {
  width: calc(100% / 3);
  height: 100%;
  object-fit: cover;
  object-position: left;
  border-radius: 30px;
}

.imgSmall {
  width: 30%;
  height: 20%;
  border: white 5px solid;
  object-position: center;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: -70px;
  left: 35%;
  /* I used a math in order to make it center */
  object-fit: cover;
  object-position: left;
}

.questionsContainer {
  height: 100%;
  overflow: hidden;
}