.background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffa600;
    z-index: -1;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 400px;
    height: 70px;
    margin: 5px 0;
}

.container label {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
}

.container input {
    width: 100%;
    border: 1px solid gold;
    height: 40px;
    outline: 0;
    transition: 0.5s;
    border-radius: 10px;
    padding: 0 10px;
}

.container input:focus {
    transform: scale(1.3);
    border: 3px solid gold;
}

.btnR {
    width: 120px;
    height: 45px;
    font-family: capramiso;
    font-size: 22px;
    background-color: #ffa600;
    color: white;
    outline: 0;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 30px;
}

.btnR:hover {
    transform: scale(1.3);
}

.containerForSupport {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}

.supportSuccess {
    width: 400px;
    height: 500px;
    position: absolute;
    background-color: #ff7b00;
    color: white;
    top: calc(50% - 250px);
    left: calc(50% - 150px);
    z-index: 4;
    font-size: larger;
    padding: 0 10px;
    border-radius: 20px;
    border: 5px solid whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
}

.exitI {
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(63deg) brightness(105%) contrast(107%);
    transition: 0.5s;
}

.exitI:hover {
    transform: scale(1.30);
}

.BGFORREGISTERICON {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    border-radius: 15px;
}